.modal-body {
	position: relative;
}
#map_container {
	height: 500px;
	margin: -15px;
}
#map_search {
	position: absolute;
	left: 0;
	top: 0;
}

#lnglat,
#map_panel {
	position: absolute;
	right: 0;
}
#lnglat {
	top: 0;
	height: 20px;
	display: none;
}
#map_panel {
	top: 20px;
}
@media only screen and (min-device-height: 1000px), (min-height: 1000px)  {
	#map_container {
		height: 900px;
	}
}