.header {
    overflow: hidden;
}
.avatar {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.nickname {
    /*font-size: 14px;*/
    
}
.table-detail {
    margin-top: 10px;
}
.table>tbody>tr>td, .table>tbody>tr>th {
    padding: 8px !important;
}
