<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>趣淘</title>
	<link href="/static/css/share.css" rel='stylesheet' type='text/css' />
	<link rel="shortcut icon" href="/static/images/logo@3x.png" />
</head>
<body>
	<header>
		<img class="logo" src="/static/images/logo39@2x.png">
		<img class="qutao" src="/static/images/qutao2@3x.png">
		<span class="summary">身边的闲置交易APP</span>
	</header>
	<center>
        <h3>趣淘圈</h3>
    </center>
    <main style="padding: 10px">
        <div>
            <p>哇，趣淘还能显示附近淘友动态</p>
            <p>还等什么？微信加起来！</p>
            <p>再也不用一个人孤单地剁手手啦~</p>
        </div>
    </main>
	<footer>
		<a class="transition_color btn_download" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.quseit.letgo">去趣淘APP逛逛</a>
	</footer>
</body>
</html>
