<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>趣淘</title>
	<link href="/static/css/share.css" rel='stylesheet' type='text/css' />
	<link rel="shortcut icon" href="/static/images/logo@3x.png" />
</head>
<body>
	<header>
		<img class="logo" src="/static/images/logo39@2x.png">
		<img class="qutao" src="/static/images/qutao2@3x.png">
		<span class="summary">身边的闲置交易APP</span>
	</header>
	<center>
        <h3>反馈送红包</h3>
    </center>
    <main style="padding: 10px">
        <div>
            <p>用户大大，么么哒~</p>
            <p>相遇这么久，不知道趣淘APP有没有满足你呢？（捂脸）</p>
            <p>有哪些趣妹做得不够好需要改进的地方，请尽情地向趣妹吐槽~</p>
            <p>还有哪些很想要的东东没有在趣淘上发现，都告诉趣妹吧！</p>
            <p>反馈后记得留下微信号，就可以收红包咯！</p>
        </div>
    </main>
	<footer>
		<a class="transition_color btn_download" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.quseit.letgo">去趣淘APP逛逛</a>
	</footer>
</body>
</html>
