<!DOCTYPE html>
<html lang="zh-cmn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="keywords" content="趣淘 趣淘是实现附件快速交易的App" />
    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="/static/css/style.css" rel="stylesheet" />
    <link href="/static/css/login.css" rel="stylesheet" />
</head>
<body id="login">
    <div class="login-logo">
        <a href="#"></a>
    </div>
    <h2 class="form-heading">趣淘后台管理</h2>
    <div class="app-cam">
    <form method="post">
        <input type="text" class="text" placeholder="用户名/邮箱" name="username">
        <input type="password" placeholder="密码" name="password">
        <div class="submit"><input type="submit" value="登录" name="action"></div>
    </form>
    </div>
    <div class="copy_layout login">
        <div class="container">
            
        </div>
    </div>
</body>
</html>
