<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>趣淘地图</title>
	<link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css">
	<style type="text/css">
		html{height:100%}
		body{height:100%;margin:0px;padding:0px}
		#container{height:100%}
	</style>
	 <style type="text/css">
        #panel {
            position: fixed;
            background-color: white;
            max-height: 90%;
            overflow-y: auto;
            top: 78px;
		    right: 10px;
		    width: 396px;
            border-bottom: solid 1px silver;
        }
    </style>
	<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=144c97a3506ce5f595ee984969b60505">
	</script>
	<script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
</head>
<body>
	<div id="container"></div>
	<div id="panel"></div>
	<div id="myPageTop">
	    <table>
	        <tr>
	            <td>
	                <label>按关键字搜索：</label>
	            </td>
	            <td class="column2">
	                <label>左击获取经纬度：</label>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <input type="text" placeholder="请输入关键字进行搜索" id="tipinput">
	            </td>
	            <td class="column2">
	                <input type="text" readonly="true" id="lnglat">
	            </td>
	        </tr>
	    </table>
	</div>
	<script type="text/javascript">
		window.onload = function(){
			var href = location.href;
			var match = /ll=([\d.]+),([\d.]+)/.exec(location.href);
			var lng = parseFloat(match[1]);
			var lat = parseFloat(match[2]);
			var point = new AMap.LngLat(lng, lat);
			// 创建地图实例
			var map = new AMap.Map("container", {
				center: point,
				zoom: 15
			});
			window.map = map;
			
			var contextMenu = new AMap.ContextMenu(); //创建右键菜单

			contextMenu.addItem("搜索附件小区", function() {
				document.getElementById("lnglat").value = contextMenu.positon;
				var cpoint = contextMenu.positon; //中心点坐标
				placeSearch.searchNearBy('', cpoint, 200, function(status, result) {
					
				});
			}, 0);
			
			contextMenu.addItem("清除搜索结果", function() {
				if(placeSearch){
					placeSearch.clear();
				}
			}, 1);

		    //地图绑定鼠标右击事件——弹出右键菜单
		    map.on('rightclick', function(e) {
		        contextMenu.open(map, e.lnglat);
		        contextMenu.positon = e.lnglat;
		    });

		    /**
		     * 右键菜单绑定的小区搜索
		     */
			var placeSearch;
			AMap.service(["AMap.PlaceSearch"], function() {
				placeSearch = new AMap.PlaceSearch({ //构造地点查询类
					pageSize: 5,
					type: '住宅小区',
					pageIndex: 1,
					map: map,
					panel: "panel"
				});
			});

			/**
			 * 输入框搜索自动完成
			 */
			AMap.service(["AMap.Autocomplete"], function() {
				var auto = new AMap.Autocomplete({
					input: "tipinput",
					city:  "南宁",
					citylimit: true,
				});

				//注册监听，当选中某条记录时会触发
				AMap.event.addListener(auto, "select", function(e) {
					if (e.poi && e.poi.location) {
						map.setZoom(15);
						map.setCenter(e.poi.location);
					}
				});
			});

			addCommunityMarker([
				{"lng_lat": "108.281869,22.835591", "name": "裕丰荔园", "desc": "广西南宁市西乡塘区大学东路128号"},
				{"lng_lat": "108.288369,22.836307", "name": "正恒国际", "desc": "广西南宁市西乡塘区明秀西路111号正恒国际"},
				{"lng_lat": "108.270362,22.848001", "name": "盛世龙腾", "desc": "广西南宁市西乡塘科园大道33号盛世龙腾"},
				{"lng_lat": "108.270495,22.847246", "name": "财智时代", "desc": "广西南宁市西乡塘高新开发区科园大道31号财智时代"},
				{"lng_lat": "108.26777,22.842926", "name": "华成都市", "desc": "广西南宁市西乡塘区西乡塘科园大道科西二路华成都市"},
				{"lng_lat": "108.299575,22.846068", "name": "嘉士天骄", "desc": "广西南宁市西乡塘区秀灵路79号嘉士·天骄"},
				{"lng_lat": "108.301897,22.844732", "name": "天域香格里拉", "desc": "广西南宁市西乡塘区秀灵路88号天域·香格里拉"},
				{"lng_lat": "108.267413,22.847108", "name": "嘉士涌金广场", "desc": "广西南宁市西乡塘高新区科德西路7号嘉士涌金广场"},
				{"lng_lat": "108.29274,22.832249", "name": "百汇华庭", "desc": "广西南宁市西乡塘明秀路118号百汇华庭"},
				{"lng_lat": "108.283509,22.833361", "name": "士林苑", "desc": "广西南宁市西乡塘大学路45号士林苑"},
				{"lng_lat": "108.292667,22.829543", "name": "嘉州华都", "desc": "广西南宁市西乡塘区大学东路27号嘉州华都"},
				{"lng_lat": "108.269606,22.860446", "name": "A派公馆", "desc": "西乡塘高新技术开发区创新6号A派公馆"},
				{"lng_lat": "108.299431,22.842935", "name": "秀灵公寓", "desc": "广西南宁市西乡塘秀灵路西二里12号秀灵公寓"},
				{"lng_lat": "108.27334,22.854387", "name": "嘉华绿洲", "desc": "广西南宁科园大道52-1号嘉华绿洲"},
				{"lng_lat": "108.303357,22.845039", "name": "西西湾", "desc": "广西南宁西乡塘南宁市秀灵路东四里5号西西湾"},
				{"lng_lat": "108.282382,22.843125", "name": "同和慧源", "desc": "广西南宁市西乡塘鲁班路89号同和慧源"},
				{"lng_lat": "108.268621,22.848396", "name": "瀚林雅筑", "desc": "广西南宁西乡塘区高新区科德西路2号瀚林雅筑"},
				{"lng_lat": "108.27147,22.846596", "name": "高新苑", "desc": "广西南宁市科园大道31号高新苑"},
				{"lng_lat": "108.282231,22.841584", "name": "盛天熙园", "desc": "广西南宁心圩江东路10号盛天熙园"},
				{"lng_lat": "108.282631,22.842107", "name": "隆源国际花园", "desc": "广西南宁鲁班路87号隆源国际花园"},
				{"lng_lat": "108.282346,22.844945", "name": "瀚林华府", "desc": "广西南宁市鲁班路93号瀚林华府"},
				{"lng_lat": "108.307427,22.861185", "name": "棕榈湾", "desc": "广西南宁秀安路1－3号棕榈湾"},
				{"lng_lat": "108.28467,22.833281", "name": "嘉汇馨源", "desc": "广西南宁西乡塘大学东路41号嘉汇馨源"},
				{"lng_lat": "108.279284,22.833137", "name": "文华园", "desc": "广西南宁市大学东路59号文华园"},
				{"lng_lat": "108.292992,22.834301", "name": "富达花园", "desc": "南宁市西乡塘区火炬路一支路11号富达花园"},
				{"lng_lat": "108.29409,22.834616", "name": "银达花园", "desc": "广西南宁市西乡塘区火炬路一支路10号银达花园"},
				{"lng_lat": "108.293124,22.835557", "name": "金达花园", "desc": "广西南宁市西乡塘区火炬路17号金达花园"},
				{"lng_lat": "108.268396,22.839061", "name": "瑞士花园", "desc": "西乡塘区大学东路160号瑞士花园"},
				{"lng_lat": "108.288686,22.831295", "name": "时代天骄", "desc": "广西南宁市西乡塘区大学东路31号时代天骄"},
				{"lng_lat": "108.282887,22.839602", "name": "康桥蓝湾", "desc": "广西南宁西乡塘鲁班路85号康桥蓝湾"},
				{"lng_lat": "108.290008,22.830413", "name": "城市碧园", "desc": "广西南宁市西乡塘区明秀西路122号城市碧园"},
				{"lng_lat": "108.291451,22.841658", "name": "广西大学", "desc": "广西南宁市大学东路100号"},
				{"lng_lat": "108.191152,22.830808", "name": "南宁职业技术学院", "desc": "广西南宁市大学西路164号"},
				{"lng_lat": "108.298166,22.836421", "name": "广西财经学院", "desc": "广西南宁市西乡塘区明秀西路100号"},
				{"lng_lat": "108.18469,22.826876", "name": "广西财经学院(相思湖校区)", "desc": "广西南宁市西乡塘区相思湖新区财经路"},
				{"lng_lat": "108.294992,22.831389", "name": "南宁职业技术学院(三分院)", "desc": "南宁市西乡塘区明秀西路113号"},
				{"lng_lat": "108.235627,22.843125", "name": "广西民族大学", "desc": "广西南宁市大学东路188号"},
				{"lng_lat": "108.19632,22.833042", "name": "广西民族大学(西校区)", "desc": "广西南宁市大学西路158号"},
				{"lng_lat": "108.19693,22.836071", "name": "广西民族大学(相思湖学院)", "desc": "广西南宁市鹏飞路北段1号"},
				{"lng_lat": "108.243163,22.844324", "name": "广西农业职业技术学院", "desc": "广西南宁市大学东路176号"},
				{"lng_lat": "108.200668,22.826443", "name": "广西工商职业技术学院", "desc": "广西南宁市鹏飞路15号"},
				{"lng_lat": "108.225595,22.839721", "name": "广西工商职业技术学院(相思湖校区)", "desc": "广西南宁市新村路8号"},
				{"lng_lat": "108.261022,22.846359", "name": "广西工商职业技术学院(东校区)", "desc": "广西南宁市中尧路15号"},
				{"lng_lat": "108.257938,22.841185", "name": "广西国际商务职业技术学院", "desc": "南宁市西乡塘区大学东路168号"},
				{"lng_lat": "108.237691,22.835617", "name": "广西机电职业技术学院", "desc": "南宁市大学东路101号"},
				{"lng_lat": "108.270213,22.851302", "name": "广西电力职业技术学院", "desc": "广西南宁市科园大道39号"},
				{"lng_lat": "108.299618,22.856729", "name": "广西电力职业技术学院(东校区)", "desc": "广西南宁市安吉大道15号"},
				{"lng_lat": "108.301011,22.840612", "name": "广西工业职业技术学院", "desc": "广西南宁市西乡塘区秀灵路37号"},
				{"lng_lat": "108.29776,22.839286", "name": "广西建设职业技术学院", "desc": "南宁市秀灵路西一里6号(本部)"},
				{"lng_lat": "108.217777,22.845939", "name": "广西建设职业技术学院(新校区)", "desc": "南宁市西乡塘区罗文大道33号"},
				{"lng_lat": "108.285379,22.812576", "name": "广西建设职业技术学院(中兴校区)", "desc": "南宁市西乡塘区中尧路17-2号"},
				{"lng_lat": "108.222763,22.856787", "name": "广西艺术学院(相思湖校区)", "desc": "广西南宁市罗文大道8号"},
				{"lng_lat": "108.265174,22.840829", "name": "广西艺术学院(西校区)", "desc": "广西南宁市大学东路162-1号"},
				{"lng_lat": "108.33957,22.802911", "name": "广西艺术学院(南校区)", "desc": "广西南宁市南宁市教育路7号"},
				{"lng_lat": "108.238275,22.831085", "name": "广西经济管理干部学院", "desc": "广西南宁市西乡塘区江北大道大学东路105号"},
				{"lng_lat": "108.318233,22.841216", "name": "广西中医药大学(明秀校区)", "desc": "广西南宁市明秀东路179号"},
				{"lng_lat": "108.50338,22.801365", "name": "广西中医药大学(仙葫校区)", "desc": "广西南宁市五合大道13号"},
				{"lng_lat": "108.350907,22.797018", "name": "广西医科大学", "desc": "广西南宁市双拥路22号"},
				{"lng_lat": "108.320009,22.841089", "name": "广西师范学院(明秀校区)", "desc": "广西南宁市明秀东路175号"},
				{"lng_lat": "108.349017,22.835498", "name": "广西师范学院(长岗校区)", "desc": "广西南宁市燕子岭路4号"},
				{"lng_lat": "108.526446,22.805353", "name": "广西师范学院(五合校区)", "desc": "广西南宁市青秀区合兴路3号"},
				{"lng_lat": "108.233327,22.577779", "name": "广西职业技术学院", "desc": "广西南宁市江南区明阳工业园"},
				{"lng_lat": "108.235602,22.587901", "name": "广西师范学院师园学院", "desc": "广西南宁市明阳工业区明阳大道15号"},
				{"lng_lat": "108.343009,22.82456", "name": "广西交通职业技术学院 (园湖校区)", "desc": "广西南宁市园湖北路12号"},
				{"lng_lat": "108.492836,22.915169", "name": "广西交通职业技术学院(四塘校区)", "desc": "广西南宁市兴宁区三塘镇四塘社区四塘街4号"},
				{"lng_lat": "108.288938,22.853815", "name": "广西大学行健文理学院", "desc": "广西南宁市秀灵路75号(秀厢大道西段)"},
				{"lng_lat": "108.361083,22.793183", "name": "广西经贸职业技术学院", "desc": "广西南宁市青秀区青山路14号"},
				{"lng_lat": "108.239547,22.572989", "name": "广西演艺职业学院", "desc": "广西南宁市江南区明阳工业区明阳四路十号"},
				{"lng_lat": "107.925075,22.590773", "name": "广西城市职业学院", "desc": "广西南宁市空港经济区扶绥大道339号(南宁国际机场西28公里)"},
				{"lng_lat": "108.49356,22.905919", "name": "广西工程职业学院 (南宁校区)", "desc": "广西南宁市北湖北路57号"},
				{"lng_lat": "108.346922,22.814407", "name": "广西幼儿师范高等专科学校", "desc": "广西南宁市青秀区民族大道77号"},
				{"lng_lat": "108.37214,22.85917", "name": "广西卫生职业技术学院(昆仑校区)", "desc": "广西南宁市兴宁区昆仑大道8号"},
				{"lng_lat": "108.329076,22.804346", "name": "广西卫生职业技术学院(桃源校区)", "desc": "广西南宁市桃源路37号"},
				{"lng_lat": "108.248619,22.839595", "name": "广西金融职业技术学院", "desc": "广西南宁市大学东路91号"},
				{"lng_lat": "108.339892,22.820873", "name": "广西教育学院", "desc": "广西南宁市建政路37号"},
				{"lng_lat": "108.327195,22.830678", "name": "广西体育高等专科学校", "desc": "广西南宁市公园路2号"},
				{"lng_lat": "108.443088,22.803393", "name": "广西警察学院", "desc": "广西南宁市长湖路6号"},
				{"lng_lat": "108.453131,22.749837", "name": "南宁学院", "desc": "广西南宁市邕宁区龙亭路8号"},
				{"lng_lat": "108.352926,22.835366", "name": "广西水利电力职业技术学院(长堽校区)", "desc": "广西南宁市长堽路99号"},
				{"lng_lat": "108.18483,23.205078", "name": "广西水利电力职业技术学院(里建校区)", "desc": "南宁市北·里建南宁-东盟经济开发区长岗大道98号"},
				{"lng_lat": "108.320828,22.761848", "name": "广西水利电力职业技术学院(大沙田校区)", "desc": "广西南宁市五象大道104号"},
				{"lng_lat": "108.515981,22.800404", "name": "广西外国语学院", "desc": "南宁市青秀区五合大道19号"},
				{"lng_lat": "108.279059,22.798179", "name": "广西理工职业技术学院", "desc": "广西南宁市五一中路旱塘岭1号"},
				{"lng_lat": "108.178104,23.204894", "name": "广西经济职业学院", "desc": "广西南宁市东盟经济开发区(里建)教育路"},
				{"lng_lat": "107.916334,22.589686", "name": "广西科技职业学院", "desc": "广西南宁市空港扶绥经济区进城大道336号"},
				{"lng_lat": "108.35447,22.828312", "name": "广西政法管理干部学院(西校区)", "desc": "广西南宁市东葛路117号"},
				{"lng_lat": "108.273481,22.773743", "name": "广西石化高级技工学校", "desc": "广西南宁市江南区槎路8号"},
				{"lng_lat": "108.336404,22.859608", "name": "广西交通高级技工学校", "desc": "广西南宁市邕武路9号（南宁市狮山公园大门对面）"},
				{"lng_lat": "108.262971,22.841512", "name": "广西物资学校", "desc": "广西南宁市大岭路75号"},
				{"lng_lat": "108.251029,22.831806", "name": "广西华侨学校", "desc": "广西南宁市清川大道1号"},
				{"lng_lat": "108.351059,22.825061", "name": "广西机电工业学校", "desc": "广西南宁市东葛路109号"},
				{"lng_lat": "108.254901,22.836706", "name": "广西纺织工业学校", "desc": "广西南宁市陈西路23号"},
				{"lng_lat": "108.231007,22.836184", "name": "广西交通运输学校", "desc": "广西南宁市大学东路109号"},
				{"lng_lat": "108.303204,22.780251", "name": "广西轻工高级技工学校", "desc": "广西南宁市江南区石柱岭一路13号"},
				{"lng_lat": "108.262766,22.841254", "name": "广西商贸技工学校", "desc": "广西南宁市大岭路73号"},
				{"lng_lat": "108.356606,22.846648", "name": "广西第一工业学校", "desc": "广西南宁市长堽路三里一巷43号"},
				{"lng_lat": "108.339688,22.803714", "name": "广西艺术学院附属中等艺术学校", "desc": "南宁市教育路7号"},
				{"lng_lat": "108.348327,22.819171", "name": "广西艺术学校", "desc": "广西南宁市园湖南路24号"},
				{"lng_lat": "108.305732,22.783802", "name": "广西电子高级技工学校", "desc": "广西南宁市江南区石柱岭二路2-1号"},
				{"lng_lat": "108.328937,22.831174", "name": "广西体育运动学校", "desc": "广西南宁市中华路7号"},
				{"lng_lat": "108.342243,22.837325", "name": "广西二轻技工学校", "desc": "南宁市长堽路一里35号"},
				{"lng_lat": "108.361043,22.801701", "name": "广西水产畜牧学校", "desc": "广西南宁市青山路7号"},
				{"lng_lat": "108.271546,23.153225", "name": "广西民族中等专业学校", "desc": "南宁市武鸣县灵水路1号"},
				{"lng_lat": "108.353075,22.843301", "name": "广西公路技工学校", "desc": "广西南宁市长堽路三里120号"},
				{"lng_lat": "108.261022,22.846359", "name": "广西工商学校", "desc": "广西南宁市大学路大岭路77号"},
				{"lng_lat": "108.342349,22.797336", "name": "广西医科大学附设护士学校", "desc": "广西南宁市双拥路8号"},
				{"lng_lat": "108.298666,22.829499", "name": "广西新闻出版技工学校", "desc": "广西南宁市北大北路24号"},
				{"lng_lat": "108.352738,22.831606", "name": "广西动力技工学校", "desc": "广西南宁市长堽路六里78号"},
				{"lng_lat": "108.285377,22.812273", "name": "广西华南烹饪技工学校", "desc": "广西南宁市中尧路17-2号"},
				{"lng_lat": "108.308944,22.787151", "name": "广西广播电视学校", "desc": "广西南宁市江南区亭洪路41号"},
				{"lng_lat": "108.337554,22.820301", "name": "广西国际青年职业技术学校", "desc": "广西南宁市思贤路55号国际青年大厦"},
				{"lng_lat": "108.45535,22.749782", "name": "南宁市第一职业技术学校(新阳校区)", "desc": "广西南宁市新阳北一路19号"},
				{"lng_lat": "108.456924,22.749516", "name": "南宁市第一职业技术学校(五象校区)", "desc": "广西南宁市五象大道东段152号"},
				{"lng_lat": "108.333033,22.838135", "name": "南宁市第三职业技术学校", "desc": "广西南宁市望州路北二里14号"},
				{"lng_lat": "108.366545,22.798498", "name": "南宁市第四职业技术学校", "desc": "广西南宁市竹溪大道28号"},
				{"lng_lat": "108.493365,22.738497", "name": "南宁市第二师范学校", "desc": "广西南宁市邕宁区蒲庙镇清泉路66号"},
				{"lng_lat": "108.330706,22.799308", "name": "南宁市第六职业技术学校(桃源校区)", "desc": "广西南宁市青秀区桃源路64号"},
				{"lng_lat": "108.496882,22.790848", "name": "南宁市第六职业技术学校(仙葫校区)", "desc": "广西南宁市五合大道5号"},
				{"lng_lat": "108.306598,22.783983", "name": "南宁市卫生学校(西校区)", "desc": "广西南宁市江南区石柱岭二路3号"},
				{"lng_lat": "108.202481,22.830482", "name": "广西南宁高级技工学校", "desc": "广西南宁市西乡塘区明秀东路79号"},
				{"lng_lat": "108.202481,22.830482", "name": "广西南宁高级技工学校(新校区)", "desc": "广西南宁市西乡塘区大学西路157号"},
				{"lng_lat": "108.248361,22.838223", "name": "南宁信息工程职业技术学校(相思湖校区)", "desc": "广西南宁市西乡塘区相思湖东路8号"},
				{"lng_lat": "108.350988,22.838863", "name": "南宁创艺艺术职业学校", "desc": "广西南宁市青秀区长堽路三里二巷3-1号"},
				{"lng_lat": "108.306938,22.781383", "name": "南宁市电子工程学校", "desc": "南宁市石柱岭二路4-2号"},
				{"lng_lat": "108.263254,22.843927", "name": "南宁市民族歌舞艺术职业技术学校", "desc": "广西南宁市大岭路81号"},
				{"lng_lat": "108.307759,22.783533", "name": "南宁市工贸职业技术学校", "desc": "广西南宁市石柱岭二路4号"},
				{"lng_lat": "108.303166,22.839372", "name": "南宁商贸学校", "desc": "广西南宁市西乡塘区秀灵路西一里3号"},
				{"lng_lat": "108.328078,22.811278", "name": "南宁二中(新民校区)", "desc": "广西南宁市青秀区新民路29号"},
				{"lng_lat": "108.42012,22.825621", "name": "南宁二中(凤岭校区)", "desc": "广西南宁市云景路66号"},
				{"lng_lat": "108.35601,22.800312", "name": "南宁三中", "desc": "广西南宁市青山路5号"},
				{"lng_lat": "108.390432,22.722515", "name": "南宁三中(五象校区)", "desc": "广西壮族自治区南宁市良庆区G7201(南宁绕城高速公路)"},
				{"lng_lat": "108.310043,22.816898", "name": "南宁一中", "desc": "南宁市西乡塘区人民西路云亭街56号"},
				{"lng_lat": "108.253093,22.854152", "name": "南宁八中", "desc": "南宁市西乡塘区科园西九路"},
				{"lng_lat": "108.232479,22.834861", "name": "南宁外国语学院", "desc": "广西南宁市大学西路59号"},
				{"lng_lat": "108.232479,22.834861", "name": "南宁十四中(建政校区)", "desc": "广西青秀区建政路27号"},
				{"lng_lat": "108.376655,22.815496", "name": "南宁十四中(琅东校区)", "desc": "广西南宁市青秀区悦宾路8号"},
				{"lng_lat": "108.352424,22.82206", "name": "南宁十四中(高中部)", "desc": "广西南宁市竹塘路17号"},
				{"lng_lat": "108.336857,22.798047", "name": "南宁沛鸿名族中学(桃源校区)", "desc": "广西南宁市青秀区桃源路86号"},
				{"lng_lat": "108.274867,22.770126", "name": "南宁沛鸿名族中学(江南校区)", "desc": "南宁市江南区沛鸿路5号"},
				{"lng_lat": "108.344771,22.812387", "name": "南宁二十六中", "desc": "广西南宁市青秀区民族大道58号"},
				{"lng_lat": "108.304197,22.858396", "name": "南宁三十三中", "desc": "广西南宁市安吉路12号"},
				{"lng_lat": "108.303926,22.830866", "name": "南宁三十六中", "desc": "广西南宁市衡阳西路3号"},
				{"lng_lat": "108.476944,22.781601", "name": "邕宁高中", "desc": "广西南宁市新兴街邕高巷3号"},
				{"lng_lat": "108.312206,22.820352", "name": "南宁五中", "desc": "广西南宁市西乡塘区华强路95号"},
				{"lng_lat": "108.325766,22.81913", "name": "南宁四中", "desc": "广西南宁市民主路37号"},
				{"lng_lat": "108.32059,22.820718", "name": "南宁九中", "desc": "广西南宁市兴宁区人民东路230号"},
				{"lng_lat": "108.311536,22.805667", "name": "南宁十中", "desc": "广西南宁市江南区江南大道西二里10号(近西园饭店)"},
				{"lng_lat": "108.323689,22.828511", "name": "南宁十三中", "desc": "广西南宁市中华路51号"},
				{"lng_lat": "108.289295,22.813969", "name": "南宁十五中", "desc": "广西南宁市西乡塘区中尧路13号"},
				{"lng_lat": "108.350414,22.831832", "name": "南宁十九中", "desc": "广西南宁市长堽路68号"},
				{"lng_lat": "108.280624,22.835924", "name": "南宁二十中", "desc": "广西南宁市大学东路132"},
				{"lng_lat": "108.317047,22.783208", "name": "南宁二十一中", "desc": "广西南宁市江南区星光大道47号"},
				{"lng_lat": "108.312629,22.867685", "name": "南宁二十四中", "desc": "广西南宁市秀安路8号"},
				{"lng_lat": "108.317852,22.84918", "name": "南宁二十八中", "desc": "南宁市西乡塘区北湖北路西三里36号"},
				{"lng_lat": "108.364004,22.809847", "name": "南宁二十九中", "desc": "广西南宁市青秀区金洲路26号"},
				{"lng_lat": "108.252837,22.807588", "name": "南宁三十四中", "desc": "广西南宁市江南区沙井大道15号"},
				{"lng_lat": "108.293673,22.846712", "name": "南宁四十一中", "desc": "广西南宁市邕宁区和美巷18号"},
				{"lng_lat": "108.489641,22.737544", "name": "南宁四十二中", "desc": "广西南宁市邕宁区康岭路1号"},
				{"lng_lat": "108.507201,22.741648", "name": "南宁四十三中", "desc": "广西南宁市邕宁区八鲤路322号"},
				{"lng_lat": "108.289702,22.843216", "name": "广西大学附属中学", "desc": "广西南宁市西乡塘区"},
				{"lng_lat": "108.360648,22.824927", "name": "南宁市育才实验中学", "desc": "广西南宁市青秀区竹园路1号"},
				{"lng_lat": "108.174614,23.205557", "name": "南宁市华侨实验中学", "desc": "广西南宁市西乡塘区清川大道1号"},
				{"lng_lat": "108.370033,22.688051", "name": "南宁市苗圃行动华光女子高中", "desc": "广西南宁市银海大道1058号"},
				{"lng_lat": "108.339202,22.841636", "name": "南宁市华佳学校", "desc": "广西南宁市望州路298-38"},
				{"lng_lat": "108.287111,22.833622", "name": "广西大学继续教育学院", "desc": "广西大学继续教育学院"},
				{"lng_lat": "108.287111,22.833622", "name": "广西大学继续教育学院", "desc": ""},
				{"lng_lat": "108.287294,22.834083", "name": "广西大学商学院", "desc": ""},
				{"lng_lat": "108.286508,22.834438", "name": "广西大学轻工与食品工程学院", "desc": ""},
				{"lng_lat": "108.287134,22.83513", "name": "广西大学化学化工学院", "desc": ""},
				{"lng_lat": "108.287394,22.83686", "name": "广西大学土木建筑工程学院", "desc": ""},
				{"lng_lat": "108.289586,22.835253", "name": "广西大学机械工程学院", "desc": ""},
				{"lng_lat": "108.289029,22.83704", "name": "广西大学电气工程学院", "desc": ""},
				{"lng_lat": "108.287394,22.83686", "name": "广西大学土木建筑工程学院", "desc": ""},
				{"lng_lat": "108.287134,22.83513", "name": "广西大学化学化工学院", "desc": ""},
				{"lng_lat": "108.295094,22.842195", "name": "广西大学动物科学技术学院", "desc": ""},
				{"lng_lat": "108.295094,22.842195", "name": "广西大学动物科学技术学院", "desc": ""},
				{"lng_lat": "108.28677,22.835605", "name": "广西大学资源与冶金学院", "desc": ""},
				{"lng_lat": "108.290044,22.837613", "name": "广西大学计算机与电子信息学院", "desc": ""},
				{"lng_lat": "108.292826,22.842491", "name": "广西大学生命科学与技术学院", "desc": ""},
				{"lng_lat": "108.295079,22.841474", "name": "广西大学农学院", "desc": ""},
				{"lng_lat": "108.295079,22.841474", "name": "广西大学农学院", "desc": ""},
				{"lng_lat": "108.293528,22.843372", "name": "广西大学林学院", "desc": ""},
				{"lng_lat": "108.289525,22.836551", "name": "广西大学数学与信息科学学院", "desc": ""},
				{"lng_lat": "108.287317,22.835856", "name": "广西大学物理科学与工程技术学院", "desc": ""},
				{"lng_lat": "108.291565,22.837247", "name": "广西大学文学院", "desc": ""},
				{"lng_lat": "108.288005,22.836975", "name": "广西大学外国语学院", "desc": ""},
				{"lng_lat": "108.287111,22.833622", "name": "广西大学公共管理学院", "desc": ""},
				{"lng_lat": "108.291206,22.837217", "name": "广西大学法学院", "desc": ""},
				{"lng_lat": "108.28724,22.837774", "name": "广西大学中加国际学院", "desc": ""},
				{"lng_lat": "108.288938,22.853815", "name": "广西大学行健文理学院", "desc": ""},
				{"lng_lat": "108.290503,22.840539", "name": "广西大学体育学院", "desc": ""},
				{"lng_lat": "108.289938,22.836797", "name": "广西大学教育学院", "desc": ""},
				{"lng_lat": "108.295668,22.843128", "name": "广西大学艺术学院", "desc": ""},
				{"lng_lat": "108.287111,22.833622", "name": "广西大学政治学院", "desc": ""},
				{"lng_lat": "108.291565,22.837247", "name": "广西大学国际教育学院", "desc": ""},
				{"lng_lat": "108.291336,22.838368", "name": "广西大学新闻传播学院", "desc": ""},
				{"lng_lat": "108.289601,22.837055", "name": "广西大学材料科学与工程学院", "desc": ""},
				{"lng_lat": "108.295232,22.84069", "name": "广西大学环境学院", "desc": ""},
				{"lng_lat": "108.296141,22.84092", "name": "广西大学国防教育学", "desc": ""},
				{"lng_lat": "108.296141,22.84092", "name": "广西大学国防教育学院", "desc": ""}
			]);
		};

		function addCommunityMarker(datas) {
			var infoWindow = new AMap.InfoWindow({offset: new AMap.Pixel(0, -30)});
			window.infoWindow = infoWindow;

			for (var i = 0; i < datas.length; i++) {
				var marker = new AMap.Marker({
					position: datas[i].lng_lat.split(','),
					map: map,
				});
				marker.index = i;
				marker.on('click', markerClick);
				marker.emit('click', {target: marker});
			}
			/**
			 * 预添加的小区标记点击
			 * 显示信息框出来
			 */
			function markerClick(e) {
				var data = datas[e.target.index];
				var pos  = e.target.getPosition();
				infoWindow.setContent(data.name + '<br />' + data.desc + '<div><button>选中</button></div>');
				infoWindow.close();
				infoWindow.open(map, pos);
				map.setCenter(pos);
			}
		}
	</script>
</body>
</html>
